<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.cctvcordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>CCTV Cordova Offline</name>
  <description>Offline CCTV App dengan TensorFlow.js & COCO-SSD</description>
  <author email="you@example.com">Dev</author>
  <content src="index.html" />
  <access origin="*" />
  <allow-navigation href="*" />
  <platform name="android" />
</widget>